# Pandas wrapper for Fantasy Premier League API

The `FPLPandas` class in this package uses the [FPL](https://github.com/amosbastian/fpl) library to retrieve data from the [Fantasy Premier League API](https://fantasy.premierleague.com/api/bootstrap-static/). It maps the results to the pandas data frames so that the data can be analysed interactively, e.g. in a Jupyter notebook.

[FPL](https://github.com/amosbastian/fpl) library is an asynchronous wrapper for the [Fantasy Premier League API](https://fantasy.premierleague.com/api/bootstrap-static/) But the Jupyter notebook work better with synchronous code, the methods exposed by the `FPLPandas` class are synchronous.

## Installation using pip for stand alone usage

You can install the package using the pip package manager by running

    pip install pandas-fpl

## Installation for using this Jupyter notebook

To use this Jupyter notebook on our own machine, you need to install the following the dependencies as follows (not required when running on binder):

    pip install -r requirements.txt
    
When using the library in a Jupyter notebook, iPython >= 7.0 (see https://stackoverflow.com/questions/47518874/how-do-i-run-python-asyncio-code-in-a-jupyter-notebook) and ipykernel >=  5.0.1 (see https://github.com/ipython/ipykernel/issues/356) are required because the underlying [FPL](https://github.com/amosbastian/fpl) library is asynchronous. If you have problems executing this notebook, try running the following commands to upgrade iPython and ipykernel versions and restart the Jupyter server.

    conda install -c anaconda ipython
    pip install --upgrade

## Documentation

For the code documentation, please visit the [Documentation Github Pages](https://177arc.github.io/pandas-fpl/docs/fplpandas/).

## Usage

### Import package and create an instance of FPLPandas

In [1]:
import pandas as pd
from fplpandas import FPLPandas

fpl = FPLPandas()

### Get teams information

In [2]:
fpl.get_teams()

,code,draw,form,loss,name,played,points,position,short_name,strength,team_division,unavailable,win,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away
id,,,,,,,,,,,,,,,,,,,
1,3,0,None,0,Arsenal,0,0,0,ARS,4,None,False,0,1240,1330,1210,1260,1280,1330
2,7,0,None,0,Aston Villa,0,0,0,AVL,2,None,False,0,1040,1070,1040,1060,1030,1050
3,91,0,None,0,Bournemouth,0,0,0,BOU,3,None,False,0,1080,1120,1020,1060,1110,1160
4,36,0,None,0,Brighton,0,0,0,BHA,2,None,False,0,1050,1070,1050,1100,1030,1060
5,90,0,None,0,Burnley,0,0,0,BUR,3,None,False,0,1060,1110,1060,1070,1050,1050
6,8,0,None,0,Chelsea,0,0,0,CHE,4,None,False,0,1290,1300,1230,1280,1310,1350
7,31,0,None,0,Crystal Palace,0,0,0,CRY,3,None,False,0,1110,1100,1070,1150,1040,1040
8,11,0,None,0,Everton,0,0,0,EVE,3,None,False,0,1090,1180,1070,1180,1090,1160
9,13,0,None,0,Leicester,0,0,0,LEI,3,None,False,0,1150,1220,1150,1220,1110,1240
10,14,0,None,0,Liverpool,0,0,0,LIV,5,None,False,0,1340,1360,1310,1340,1340,1370
11,43,0,None,0,Man City,0,0,0,MCI,5,None,False,0,1330,1360,1280,1320,1350,1370
12,1,0,None,0,Man Utd,0,0,0,MUN,4,None,False,0,1240,1300,1270,1300,1300,1340
13,4,0,None,0,Newcastle,0,0,0,NEW,2,None,False,0,1050,1080,1040,1090,1020,1040
14,45,0,None,0,Norwich,0,0,0,NOR,2,None,False,0,1010,1100,1020,1020,1040,1190
15,49,0,None,0,Sheffield Utd,0,0,0,SHU,2,None,False,0,1020,1070,1050,1060,1020,1040
16,20,0,None,0,Southampton,0,0,0,SOU,2,None,False,0,1060,1070,1030,1060,1050,1050
17,6,0,None,0,Spurs,0,0,0,TOT,4,None,False,0,1260,1320,1230,1290,1280,1320
18,57,0,None,0,Watford,0,0,0,WAT,2,None,False,0,1040,1070,1060,1070,1040,1060
19,21,0,None,0,West Ham,0,0,0,WHU,3,None,False,0,1120,1140,1080,1090,1120,1150
20,39,0,None,0,Wolves,0,0,0,WOL,3,None,False,0,1090,1140,1090,1110,1080,1150

### Get fixture information

In [3]:
fpl.get_fixtures()

,code,event,finished,finished_provisional,kickoff_time,minutes,provisional_start_time,started,team_a,team_a_score,team_h,team_h_score,stats,team_h_difficulty,team_a_difficulty
id,,,,,,,,,,,,,,,
1,1059702,1,True,True,2019-08-09T19:00:00Z,90,False,True,14,1.0,10,4.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,5
8,1059709,1,True,True,2019-08-10T11:30:00Z,90,False,True,11,5.0,19,0.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,3
2,1059703,1,True,True,2019-08-10T14:00:00Z,90,False,True,15,1.0,3,1.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,3
3,1059704,1,True,True,2019-08-10T14:00:00Z,90,False,True,16,0.0,5,3.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,3
4,1059705,1,True,True,2019-08-10T14:00:00Z,90,False,True,8,0.0,7,0.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376,1060077,38,False,False,2020-05-17T14:00:00Z,0,False,False,12,NaN,9,NaN,[],4,4
377,1060078,38,False,False,2020-05-17T14:00:00Z,0,False,False,14,NaN,11,NaN,[],2,5
378,1060079,38,False,False,2020-05-17T14:00:00Z,0,False,False,10,NaN,13,NaN,[],4,2
379,1060080,38,False,False,2020-05-17T14:00:00Z,0,False,False,15,NaN,16,NaN,[],2,2
380,1060081,38,False,False,2020-05-17T14:00:00Z,0,False,False,2,NaN,19,NaN,[],2,3

### Get player information

In [4]:
players, players_history_past, players_history, player_fixtures = fpl.get_players()

Data and overall stats for each player:

In [5]:
players

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,penalties_missed,yellow_cards,red_cards,saves,bonus,bps,influence,creativity,threat,ict_index
id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,69140,0,0,-3,3,0,2,0.5,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
2,100.0,100.0,98745,0,0,-1,1,0,2,0.5,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
3,100.0,100.0,111457,0,0,-1,1,0,2,3.0,...,0,2,0,0,1,109,106.0,108.7,33.0,24.7
4,100.0,100.0,154043,0,0,-1,1,1,2,0.5,...,0,0,1,0,3,92,136.4,108.2,31.0,27.1
5,NaN,NaN,39476,0,0,0,0,0,2,4.5,...,0,2,0,0,2,151,159.4,24.8,12.0,19.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420,100.0,100.0,151589,0,0,-1,1,0,3,2.0,...,0,0,0,0,0,73,74.2,42.9,79.0,19.6
473,NaN,NaN,178876,0,0,-2,2,0,2,-0.3,...,0,1,0,0,0,22,35.6,7.0,0.0,4.3
487,NaN,NaN,209353,0,0,-3,3,0,4,0.7,...,0,0,0,0,0,35,43.0,33.2,115.0,19.0
528,100.0,50.0,247632,0,0,0,0,0,3,0.7,...,0,1,0,0,0,23,29.0,26.9,29.0,8.4
559,NaN,NaN,194798,0,0,0,0,0,4,0.6,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0

Data and stats for each player of past seasons:

In [6]:
players_history_past

                       element_code  start_cost  end_cost  total_points  \
player_id season_name
1         2016/17           69140.0        60.0      58.0          90.0
          2017/18           69140.0        55.0      54.0         109.0
          2018/19           69140.0        55.0      54.0          80.0
2         2013/14           98745.0        45.0      45.0           0.0
          2014/15           98745.0        45.0      48.0          77.0
...                             ...         ...       ...           ...
417       2016/17          159533.0        50.0      48.0          52.0
          2018/19          159533.0        55.0      51.0          44.0
418       2018/19          165808.0        50.0      46.0          52.0
419       2018/19          166324.0        55.0      52.0          48.0
420       2018/19          151589.0        45.0      43.0          48.0

                       minutes  goals_scored  assists  clean_sheets  \
player_id season_name
1         2016/17       2274.0           2.0      2.0           8.0
          2017/18       2272.0           3.0      1.0          10.0
          2018/19       2611.0           2.0      0.0           6.0
2         2013/14          0.0           0.0      0.0           0.0
          2014/15       1563.0           2.0      1.0           7.0
...                        ...           ...      ...           ...
417       2016/17       1543.0           0.0      1.0           6.0
          2018/19        884.0           1.0      1.0           1.0
418       2018/19       1333.0           1.0      2.0           5.0
419       2018/19        677.0           3.0      1.0           1.0
420       2018/19       1465.0           2.0      0.0           3.0

                       goals_conceded  own_goals  ...  penalties_missed  \
player_id season_name                             ...
1         2016/17                30.0        0.0  ...               0.0
          2017/18                30.0        0.0  ...               0.0
          2018/19                40.0        0.0  ...               0.0
2         2013/14                 0.0        0.0  ...               0.0
          2014/15                15.0        0.0  ...               0.0
...                               ...        ...  ...               ...
417       2016/17                22.0        0.0  ...               0.0
          2018/19                13.0        0.0  ...               0.0
418       2018/19                19.0        0.0  ...               0.0
419       2018/19                11.0        0.0  ...               0.0
420       2018/19                21.0        0.0  ...               0.0

                       yellow_cards  red_cards  saves  bonus    bps  \
player_id season_name
1         2016/17              11.0        0.0    0.0    8.0  513.0
          2017/18               6.0        0.0    0.0   13.0  610.0
          2018/19               9.0        0.0    0.0    5.0  475.0
2         2013/14               0.0        0.0    0.0    0.0    0.0
          2014/15               5.0        0.0    0.0    5.0  372.0
...                             ...        ...    ...    ...    ...
417       2016/17               1.0        0.0    0.0    2.0  264.0
          2018/19               1.0        0.0    0.0    2.0  182.0
418       2018/19               3.0        0.0    0.0    0.0  136.0
419       2018/19               1.0        0.0    0.0    3.0  156.0
420       2018/19               1.0        0.0    0.0    1.0  209.0

                       influence creativity threat ict_index
player_id season_name
1         2016/17          598.2      159.7  364.0     112.4
          2017/18          836.6      129.9  202.0     117.0
          2018/19          718.6      106.0  252.0     107.8
2         2013/14            0.0        0.0    0.0       0.0
          2014/15            0.0        0.0    0.0       0.0
...                          ...        ...    ...       ...
417       2016/17          283.2      320.5  176.0      77.9
          2018/19          223.4      271.3  265.0      75.8
418       2018/19          162.8      264.0  280.0      70.9
419       2018/19          198.0      313.6  156.0      66.0
420       2018/19          334.8      126.6  288.0      75.1

[1544 rows x 21 columns]

Data and stats for each player for completed matches of the current season:

In [7]:
players_history

                   element  opponent_team  total_points  was_home  \
player_id fixture
1         10             1             13             0     False
          11             1              5             0      True
          24             1             10             0     False
          31             1             17             0      True
          49             1             18             0     False
...                    ...            ...           ...       ...
528       70           528             18             4      True
          75           528             11             0     False
          90           528             16             0      True
          96           528             13             1     False
559       96           559             13             0     False

                           kickoff_time  team_h_score  team_a_score  round  \
player_id fixture
1         10       2019-08-11T13:00:00Z             0             1      1
          11       2019-08-17T11:30:00Z             2             1      2
          24       2019-08-24T16:30:00Z             3             1      3
          31       2019-09-01T15:30:00Z             2             2      4
          49       2019-09-15T15:30:00Z             2             2      5
...                                 ...           ...           ...    ...
528       70       2019-09-28T14:00:00Z             2             0      7
          75       2019-10-06T13:00:00Z             0             2      8
          90       2019-10-19T14:00:00Z             1             1      9
          96       2019-10-27T14:00:00Z             1             1     10
559       96       2019-10-27T14:00:00Z             1             1     10

                   minutes  goals_scored  ...  bps  influence  creativity  \
player_id fixture                         ...
1         10             0             0  ...    0        0.0         0.0
          11             0             0  ...    0        0.0         0.0
          24             0             0  ...    0        0.0         0.0
          31             0             0  ...    0        0.0         0.0
          49             0             0  ...    0        0.0         0.0
...                    ...           ...  ...  ...        ...         ...
528       70            56             0  ...   16       23.6        21.9
          75             0             0  ...    0        0.0         0.0
          90             0             0  ...    0        0.0         0.0
          96            20             0  ...    3        0.0         0.0
559       96             0             0  ...    0        0.0         0.0

                   threat  ict_index  value  transfers_balance  selected  \
player_id fixture
1         10          0.0        0.0     55                  0     33117
          11          0.0        0.0     55              -5280     36709
          24          0.0        0.0     54              -6882     30975
          31          0.0        0.0     54              -3872     28096
          49          0.0        0.0     53              -2073     26902
...                   ...        ...    ...                ...       ...
528       70         21.0        6.7     50               -157      2660
          75          0.0        0.0     50                104      2906
          90          0.0        0.0     50               -293      2663
          96          0.0        0.0     50               -167      2519
559       96          0.0        0.0     45                  0         0

                   transfers_in  transfers_out
player_id fixture
1         10                  0              0
          11               2868           8148
          24                534           7416
          31                346           4218
          49                581           2654
...                         ...            ...
528       70                131            288
          75                295            191
          90                 83            376
          96                  7            174
559       96                  0              0

[5404 rows x 30 columns]

Data for each player for upcoming fixture of the current season:

In [8]:
player_fixtures

                    code  team_h team_h_score  team_a team_a_score  finished  \
player_id event
1         11.0   1059803       1         None      20         None     False
          12.0   1059814       9         None       1         None     False
          13.0   1059823       1         None      16         None     False
          14.0   1059838      14         None       1         None     False
          15.0   1059842       1         None       4         None     False
...                  ...     ...          ...     ...          ...       ...
559       34.0   1060039      15         None      20         None     False
          35.0   1060051      20         None       8         None     False
          36.0   1060053       5         None      20         None     False
          37.0   1060071      20         None       7         None     False
          38.0   1060074       6         None      20         None     False

                 minutes  provisional_start_time          kickoff_time  \
player_id event
1         11.0         0                   False  2019-11-02T15:00:00Z
          12.0         0                   False  2019-11-09T17:30:00Z
          13.0         0                   False  2019-11-23T15:00:00Z
          14.0         0                   False  2019-12-01T14:00:00Z
          15.0         0                   False  2019-12-05T20:15:00Z
...                  ...                     ...                   ...
559       34.0         0                   False  2020-04-18T14:00:00Z
          35.0         0                   False  2020-04-25T14:00:00Z
          36.0         0                   False  2020-05-02T14:00:00Z
          37.0         0                   False  2020-05-09T14:00:00Z
          38.0         0                   False  2020-05-17T14:00:00Z

                  event_name  is_home  difficulty
player_id event
1         11.0   Gameweek 11     True           2
          12.0   Gameweek 12    False           4
          13.0   Gameweek 13     True           2
          14.0   Gameweek 14    False           2
          15.0   Gameweek 15     True           2
...                      ...      ...         ...
559       34.0   Gameweek 34    False           2
          35.0   Gameweek 35     True           2
          36.0   Gameweek 36    False           3
          37.0   Gameweek 37     True           3
          38.0   Gameweek 38    False           4

[15568 rows x 12 columns]

### Get your team data
You will need the following for retrieving your team data:
* FPL user name: The email address used to log in to the FPL web site.
* FPL password: The password used to log in to the FPL web site.

**Update `set_cred` call with your personal email and password.**

In [3]:
fpl.set_cred(email='fpl@177arc.net', password='TestMcTestFace')
user_team, user_chips, user_trans_info = fpl.get_user_team()

Your team selection:

In [4]:
user_team

,position,selling_price,multiplier,purchase_price,is_captain,is_vice_captain
element,,,,,,
235,1,55,1,56,False,True
447,2,47,1,47,False,False
123,3,56,1,56,False,False
182,4,71,1,71,False,False
297,5,44,1,43,False,False
191,6,124,1,125,False,False
215,7,100,1,99,False,False
219,8,76,1,75,False,False
287,9,48,1,50,False,False
210,10,121,2,122,True,False
278,11,69,1,71,False,False
48,12,40,0,40,False,False
126,13,45,0,45,False,False
302,14,49,0,49,False,False
468,15,51,0,51,False,False

Your chips status:

In [5]:
user_chips

,status_for_entry,played_by_entry,name,number,start_event,stop_event,chip_type
0,available,[],wildcard,1,2,20,transfer
1,available,[],freehit,1,2,38,transfer
2,available,[],bboost,1,1,38,team
3,available,[],3xc,1,1,38,team

Your team value, remaining money and transfer status:

In [6]:
user_trans_info

   cost status  limit  made  bank  value
0     4   cost      2     0     0   1004

## Get your user data

In [8]:
fpl.get_user_info()

,date_of_birth,dirty,first_name,gender,id,last_name,entry,region,email
0,1974-01-01,False,Test,M,48107940,McTestFace,6769616,241,fpl@177arc.net